services:
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: bot
      MONGO_INITDB_ROOT_PASSWORD: bot
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  image_color_service:
    image: ghcr.io/mikbot/image-color-service
    ports:
      - "4567:8080"
volumes:
  mongo-data: { }
