version: '3.8'

services:
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: bot
      MONGO_INITDB_ROOT_PASSWORD: bot
    volumes:
      - mongo-data:/data/db
  bot:
    image: ghcr.io/drschlaubi/mikmusic/bot:latest # or your own distro, see PLUGINS.md for more
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - ./plugins:/usr/app/plugins
    ports:
      # only needed for verification_mode
      - "127.0.0.1:7725:8080"
volumes:
  mongo-data: { }
