name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

permissions: write-all

jobs:
  mikbot:
    uses: mikbot/mikbot-workflow/.github/workflows/mikbot-workflow.yml@v1.5.3
    with:
      run-maven-publish: true
      update-binary-repository: true
      docker-name: "ghcr.io/drschlaubi/mikmusic/bot"
    secrets:
      GCP_ACCOUNT_KEY: ${{ secrets.GCP_ACCOUNT_KEY }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
      BUILDCACHE_USER: ${{ secrets.BUILDCACHE_USER }}
      BUILDCACHE_PASSWORD: ${{ secrets.BUILDCACHE_PASSWORD }}
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      DOCKER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
