name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    name: Build
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: classes ktlintCheck
  push:
    name: Push
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: :installDist
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: docker login ghcr.io --username DRSchlaubi --password "$GITHUB_TOKEN"
      - name: Build & Tag
        run: docker build -t ghcr.io/drschlaubi/mikmusic/bot:latest -t ghcr.io/drschlaubi/mikmusic/bot:"$GITHUB_SHA" . --file Dockerfile
      - name: Push Image
        run: |
          docker buildx build \
                  --tag  ghcr.io/drschlaubi/mikmusic/bot:"$GITHUB_SHA" \
                  --tag  ghcr.io/drschlaubi/mikmusic/bot:latest \
                  --file ./Dockerfile \
                  --output type=image,push=true .
  update_repository:
    name: Update repository
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: rm -rf .git/ # delete .git here to ignore the parent git repo and only care about plugin-repo
      - uses: actions/checkout@v2
        with:
          ref: plugin-repo
          path: ci-repo
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: copyFilesIntoRepo
      - name: Commit changes
        run: |
          cd ci-repo
          git config --local user.email "actions@github.com"
          git config --local user.name "actions-user"
          git add .
          git commit -m "Update plugin repository" --allow-empty
      - name: Push changes
        uses: ad-m/github-push-action@master
        continue-on-error: true # if this job fails, this is usually because there was no update and should not indicate a build fail
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: plugin-repo
          directory: ci-repo
  update_maven:
    name: Push to maven repo
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        env:
          JFROG_USER: ${{ secrets.JFROG_USER }}
          JFROG_PASSWORD: ${{ secrets.JFROG_KEY }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        with:
          arguments: publish
