name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    name: Build
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      # Cache Gradle cache
      - name: Setup Gradle Dependencies Cache
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/caches
            .gradle
          key: ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: classes ktlintCheck
      # Cache Gradle build progress
      # This is at the end, because it just needs to push for upcoming actions
      - name: Setup Gradle build Cache
        uses: actions/cache@v2.1.6
        with:
          path: '**/build/**'
          key: ${{ runner.os }}-gradle-build-cache-${{ env.GITHUB_SHA }}
  push:
    name: Push
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Download Dependencies Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
      - name: Download Build Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-build-cache-${{ env.GITHUB_SHA }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: :installDist
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
        run: docker login ghcr.io --username DRSchlaubi --password "$GITHUB_TOKEN"
      - name: Push Image
        run: |
          docker buildx build \
                  --tag  ghcr.io/drschlaubi/mikmusic/bot:"$GITHUB_SHA" \
                  --tag  ghcr.io/drschlaubi/mikmusic/bot:latest \
                  --file ./Dockerfile \
                  --output type=image,push=true .
  update_repository:
    name: Update repository
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Download Dependencies Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
      - name: Download Build Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-build-cache-${{ env.GITHUB_SHA }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: rm -rf .git/ # delete .git here to ignore the parent git repo and only care about plugin-repo
      - uses: actions/checkout@v2
        with:
          ref: plugin-repo
          path: ci-repo
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: copyFilesIntoRepo
      - name: Commit changes
        run: |
          cd ci-repo
          git config --local user.email "actions@github.com"
          git config --local user.name "actions-user"
          git add .
          git commit -m "Update plugin repository" --allow-empty
      - name: Push changes
        uses: ad-m/github-push-action@master
        continue-on-error: true # if this job fails, this is usually because there was no update and should not indicate a build fail
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: plugin-repo
          directory: ci-repo
  update_maven:
    name: Push to maven repo
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Download Dependencies Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
      - name: Download Build Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-build-cache-${{ env.GITHUB_SHA }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - uses: gradle/gradle-build-action@v1
        env:
          JFROG_USER: ${{ secrets.JFROG_USER }}
          JFROG_PASSWORD: ${{ secrets.JFROG_KEY }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        with:
          arguments: publish
  update_binary:
    name: Push binary to binary repo
    runs-on: ubuntu-20.04
    needs: [ build ]
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Download Dependencies Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', 'gradle.properties') }}
      - name: Download Build Cache
        uses: actions/cache@v2.1.6
        with:
          key:
            ${{ runner.os }}-gradle-build-cache-${{ env.GITHUB_SHA }}
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
      - run: rm -rf .git/ # delete .git here to ignore the parent git repo and only care about binary-repo
      - uses: actions/checkout@v2
        with:
          ref: binary-repo
          path: ci-repo
      - uses: gradle/gradle-build-action@v1
        with:
          arguments: installCi
      - name: Commit changes
        run: |
          cd ci-repo
          git config --local user.email "actions@github.com"
          git config --local user.name "actions-user"
          git add .
          git commit -m "Update plugin repository" --allow-empty
      - name: Push changes
        uses: ad-m/github-push-action@master
        continue-on-error: true # if this job fails, this is usually because there was no update and should not indicate a build fail
        with:
          lfs: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: binary-repo
          directory: ci-repo
