name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  mikbot:
    uses: mikbot/mikbot-workflow/.github/workflows/mikbot-workflow.yml@v1.0.8
    with:
      run-maven-publish: true
      update-binary-repository: true
    secrets:
      GCP_ACCOUNT_KEY: ${{ secrets.GCP_ACCOUNT_KEY }}
      JFROG_USER: ${{ secrets.JFROG_USER }}
      JFROG_PASSWORD: ${{ secrets.JFROG_PASSWORD }}
      SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
      BUILDCACHE_USER: $ {{ secrets.BUILDCACHE_USER }}
      BUILDCACHE_PASSWORD: $ {{ secrets.BUILDCACHE_PASSWORD }}
      DISCORD_WEBHOOK: $ {{ secrets.DISCORD_WEBHOOK }}
