name: Gradle Plugin CI

on:
  push:
    branches:
      - main
    paths:
      - gradle/libs.versions.toml
      - gradle-plugin
  pull_request:
    paths:
      - gradle-plugin/**
    types:
      - opened
      - synchronize
  workflow_dispatch:


env:
  BUILD_PLUGIN_CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 24
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 24
      - uses: gradle/actions/setup-gradle@v5
      - name: Test with Gradle
        run: ./gradlew gradle-plugin:check
      - name: Login to Gradle Plugin Portal
        if: "github.event_name == 'push' || github.event_name == 'workflow_dispatch'"
        env:
          GRADLE_CONFIG: ${{ secrets.GRADLE_CONFIG }}
        run: echo "$GRADLE_CONFIG" > ~/.gradle/gradle.properties
      - name: Update dependency list
        run: ./rebuild-plugin-dependency-list.sh
      - name: Gradle Publish
        if: "github.event_name == 'push' || github.event_name == 'workflow_dispatch'"
        run: ./gradlew :gradle-plugin:publishPlugins
