name: Gradle Plugin CI

on:
  push:
    paths:
      - gradle-plugin/**
    branches:
      - main
  pull_request:
    paths:
      - gradle-plugin/**
    types:
      - opened
      - synchronize

jobs:
  gradleValidation:
    name: Gradle Wrapper
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Sources
        uses: actions/checkout@v2

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1

  build:
    runs-on: ubuntu-latest
    needs: gradleValidation
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Test with Gradle
        run: ./gradlew classes
      - name: Login to Gradle Plugin Portal
        if: "github.event_name == 'push'"
        env:
          GRADLE_CONFIG: ${{ secrets.GRADLE_CONFIG }}
        run: echo "$GRADLE_CONFIG" > ~/.gradle/gradle.properties
      - name: Update dependency list
        run: ./rebuild-plugin-dependency-list.sh
      - name: Gradle Publish
        if: "github.event_name == 'push'"
        run: ./gradlew :gradle-plugin:publishPlugins
