name: Gradle Plugin CI

on:
  push:
    branches:
      - main
    paths:
      - gradle/libs.versions.toml
  pull_request:
    paths:
      - gradle-plugin/**
    types:
      - opened
      - synchronize

env:
  BUILD_PLUGIN_CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 22
      - uses: gradle/actions/setup-gradle@v4
      - name: Test with Gradle
        run: ./gradlew gradle-plugin:check
      - name: Login to Gradle Plugin Portal
        if: "github.event_name == 'push'"
        env:
          GRADLE_CONFIG: ${{ secrets.GRADLE_CONFIG }}
        run: echo "$GRADLE_CONFIG" > ~/.gradle/gradle.properties
      - name: Update dependency list
        run: ./rebuild-plugin-dependency-list.sh
      - name: Gradle Publish
        if: "github.event_name == 'push'"
        run: ./gradlew :gradle-plugin:publishPlugins
